

<ion-content >

  <ion-grid class="construction h-100">
    <ion-row class="h-100 ion-align-items-center" style="color:white">
      <ion-col class="ion-text-center" size="12">
        <!-- <ion-icon name="hourglass-outline"></ion-icon> -->
        <img src="./assets/uc.png" alt="">
        <h1>En cours de construction</h1>
        <h5>Nous reviendrons bientôt!</h5>
      </ion-col>

      <ion-col size="12">
        <div class="disconnect ion-text-center" >
          <button class="btn btn-light btn-block mx-auto" style="height:65px;width:85%" (click)="logout()">
            <!-- <img style="margin-right:5px" src="./assets/logout.png" alt="">  -->
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1H17C17.5304 1 18.0391 1.21071 18.4142 1.58579C18.7893 1.96086 19 2.46957 19 3V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H13" stroke="#F65E40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8 15L13 10L8 5" stroke="#F65E40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 10H1" stroke="#F65E40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
            Se déconnecter
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div class="disconnect ion-text-center">
    <button class="btn btn-light btn-block btn-rounded" style="height:60px" (click)="logout()">
      <img style="margin-right:5px" src="./assets/logout.png" alt=""> Se déconnecter
    </button>
  </div> -->

</ion-content>
