<!-- <ion-toolbar> -->
<!-- <ion-segment [value]="selectedValue" style="margin: auto;width:90%;margin-top:10px" (ionChange)="segmentChanged($event)" mode="">
  <ion-router-link *ngFor="let path of listPaths;" color="dark" href={{path.path}}>
    <ion-segment-button value={{path.value}} >
      <ion-label><h3>{{path.vue}}</h3></ion-label>
    </ion-segment-button>
  </ion-router-link>
</ion-segment> -->




<!-- <ion-row class="theme">
  <ion-col size="3" class="text-center">
      <button class="btn" (click)="rightDate()">
      <ion-icon size="large" style="color:white;" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-col>
  <ion-col size="6">
    <ng-template *ngIf="itemsList.length==0; else showDate">
      <h3>Loading Data.</h3>
    </ng-template>
    <ng-template #showDate>
      <h3 style="color:white;" class="text-center">{{selectedDate}}</h3>
    </ng-template>
  </ion-col>
  <ion-col size="3" class="text-center">
    <button class="btn" (click)="leftDate()">
      <ion-icon size="large" style="color:white;" name="chevron-forward-outline"></ion-icon>
    </button>
  </ion-col>
</ion-row> -->
<!-- </ion-toolbar> -->




<!-- version 2 -->


<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-segment #segment [value]="selectedValue" style="margin: auto;width:90%;margin-top:10px" (ionChange)="segmentChanged($event)" mode="ios">
        <ion-segment-button  
          *ngFor="let path of listPaths;"
          [value]="path.value" 
        >
          <ion-router-link color="dark">
            <ion-label><h3>{{path.vue}}</h3></ion-label>
          </ion-router-link>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <div style="background-color:#EDEDED;width:90%;border-radius:15px" class="mx-auto mt-3">
      <ion-row class="text-center align-middle px-2">
        <ion-col size="0">
          <!-- <div class="my-auto">
            <span class="text-muted" style="font-size: 0.9em;position: absolute;top: 50%;transform: translateY(-50%);left:10%">Mois</span>
          </div> -->
        </ion-col>
        <ion-col size="12">
          <div class="p-2 shadow bg-white" style="background-color:#FFFFFF;border-radius:25px">
           
            <button class="btn" (click)="rightDate()">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.84961 -1.69999e-08C5.94827 -1.26874e-08 6.04924 0.0390048 6.12495 0.11472C6.27638 0.266151 6.27638 0.513946 6.12495 0.665376L0.9419 5.84843L6.04924 10.9558C6.20067 11.1072 6.20067 11.355 6.04924 11.5064C5.89781 11.6579 5.65001 11.6579 5.49858 11.5064L0.113622 6.12376C-0.0378087 5.97233 -0.0378087 5.72453 0.113622 5.5731L5.572 0.11472C5.65001 0.0367104 5.74867 -2.14122e-08 5.84961 -1.69999e-08Z" fill="#A8A8A8"/>
                </svg>
            </button>
               <!-- <span class="mx-4">22 juin 2022</span> -->
               <span class="mx-4">{{itemsList[selected]?.francais}}</span>
               <button  class="btn" (click)="leftDate()">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.388912 11.62C0.290253 11.62 0.189288 11.581 0.113573 11.5053C-0.0378576 11.3538 -0.0378576 11.106 0.113573 10.9546L5.29662 5.77157L0.189287 0.66423C0.037857 0.512799 0.037857 0.265004 0.189287 0.113574C0.340718 -0.0378571 0.588513 -0.0378571 0.739944 0.113574L6.1249 5.49624C6.27633 5.64767 6.27633 5.89546 6.1249 6.04689L0.666524 11.5053C0.588514 11.5833 0.489855 11.62 0.388912 11.62Z" fill="#A8A8A8"/>
                  </svg>
                </button>
                
          </div>
        </ion-col>
        <ion-col size="0">
          <!-- <div class="mx-auto">
            <span class="text-muted" style="font-size: 0.9em;position: absolute;top: 50%;transform: translateY(-50%);right:10%">Année</span>
          </div> -->
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-toolbar>