<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>

  <ion-grid class="h-100 main-background">
    <ion-row class="h-100 ion-align-items-center">
      <ion-col size="12">
        <div class="ion-text-center school-presentation ">
          <img src="https://boti.education/assets/site/images/logo-2.png" alt="">
          <h1>Boti Founder</h1>
        </div>
        <ion-card class="ion-padding-vertical ion-margin-top">
          <ion-card-content>
            <ng-container *ngIf="!school;else schoolLoaded">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center"> Please enter the alias provided by Boti team. </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <input (mousedown)="$event.stopPropagation()" type="text" class="rounded-input" placeholder="Alias" [(ngModel)]="alias">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class=" ion-margin-top">
                    <button class="btn-main btn-icon submit-button" (click)="verifyAlias()">
                      <ion-icon name="chevron-forward-outline"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-container>
            <ng-template #schoolLoaded>
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <h4>Is this your school ?</h4>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <img [src]="school.logo" width="100px" alt="">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <h2>{{school.name}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <button class="btn btn-main btn-rounded ion-padding-vertical btn-block ion-margin-top" (click)="goToLogin()">
                      Yes it's me
                    </button>
                    <button class="btn btn-main-outline btn-rounded ion-padding-vertical btn-block ion-margin-top" (click)="resetSchool()">
                      Re-enter my alias
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
