.main-background{
    background: var(--main-color);
}

h1{
    color: #fff;
    font-weight: 600;
}
.submit-button{
    margin: auto;
}

.reset-button{
    margin-top: 15px;
}

.school-presentation{
    margin-bottom: 60px;
}